#logo{
    width: 548px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 300px;
}
h1::after{
    position: absolute;
    z-index: 2;
    content:"";
    width: 24px;
    height: 38px;
    background-color: rgb(255, 159, 108);
    right: 203px;
    top: 8px;
    transform: rotate(10deg);
    
}
span.titre-couleur{
    position: relative;
    z-index: 3;
    color: white;
    background-color: rgb(96, 218, 106);
    padding: 5px;
    margin-left: 5px;
    width: 18px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
#container i{
    margin-left: 40px;
    margin-right: 40px;
    font-size: 25px;
    cursor: pointer;
    /* border: 1px solid black; */
    background-color: lightgray;
    height: 90px;
    width: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms ease-out;
}
#container i:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

#galery{
    background-image: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}
#galery img{
    width: 402px;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
}
#galery img.show{
    opacity: 1;
    transition: opacity 1000ms ease-in-out;
}


.play-pause{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* border: 2px black solid; */
}
.play-pause i{
    font-size: 30px;
    /* padding: 10px;
    margin: 5px 10px; */
    width: 67px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.play-pause span{
    box-shadow: 0;
    transition: 300ms ease-in-out;
}
.play-pause span:hover{
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 0px 36px -18px inset;
}
.active{
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 0px 36px -18px inset;
}
#rotate-left{
    background-color: rgb(71, 138, 255);
}
#video{
    background-color: rgb(106, 223, 106);
}
#play{
    background-color: rgb(255, 118, 94);
}
#pause{
    background-color:rgb(255, 239, 61);
}
#camera{
    background-color:rgb(255, 176, 58);
}
#image{
    background-color:thistle;
}



#galery img.hidden{
    display: none;
}